
<mat-toolbar color="primary" class="expanded-toolbar">
  <button mat-button class="buttons" routerLink="/">
    <mat-icon svgIcon="paw" class="pawicon" ></mat-icon> </button>   
  <button mat-button routerLink="/"  class="titlecs">{{title}}</button> 
   
 
  <div fxLayout="row" fxLayoutAlign="space-around center" >
    
    
    
    

    <mat-list-item>
      <button mat-menu-item class="buttons" [matMenuTriggerFor]="kaymenu">Kayıp Hayvan</button>
    </mat-list-item>
    <mat-menu #kaymenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item  routerLink="/lostpet">
        <mat-icon>format_list_numbered</mat-icon>
        <span>Kayıp Hayvanları Gör</span>
      </button>
      <button mat-menu-item routerLink="/eklepet">
        <mat-icon>input</mat-icon>
        <span>Kayıp İlanı Ekle</span>
      </button>
    </mat-menu>

    





    <mat-list-item>
      <button mat-menu-item class="buttons" [matMenuTriggerFor]="bulmenu">Bulunmuş Hayvan</button>
    </mat-list-item>
    <mat-menu #bulmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item  routerLink="/foundpet">
        <mat-icon>format_list_numbered</mat-icon>
        <span>Bulunmuş Hayvanları Gör</span>
      </button>
      <button mat-menu-item >
        <mat-icon>input</mat-icon>
        <span>Bulunmuş İlanı Ekle</span>
      </button>
    </mat-menu>
    
    <mat-list-item *ngIf="isAuthenticated" >
      <button mat-menu-item class="example-icon buttons" [matMenuTriggerFor]="ilanmenu">
        <mat-icon color="warn" >person</mat-icon>
      </button>     
      <!--<button  mat-menu-item class="buttons" [matMenuTriggerFor]="ilanmenu">Bulunmuş Hayvan</button>-->
    </mat-list-item>
    <mat-menu   #ilanmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item  routerLink="/foundpet">
        <mat-icon>format_list_numbered</mat-icon>
        <span>Size Ait Kayıp İlanları</span>
      </button>
      <button mat-menu-item >
        <mat-icon>format_list_numbered</mat-icon>
        <span>Size Ait Bulunmuş İlanları</span>
      </button>
      <button mat-menu-item >
        <mat-icon>mail_outline</mat-icon>
        <span>Mesajlar</span>
      </button>
    </mat-menu>
    
    
    <mat-divider [vertical]="true" class="dividers"></mat-divider>
    
    <button mat-button class="buttonssmall" routerLink="/login" *ngIf="!isAuthenticated" > Login </button>
    <button mat-button class="buttonssmall" routerLink="/register" *ngIf="!isAuthenticated" > Register </button>
    <button mat-button class="buttonssmall" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
    <button mat-icon-button class="example-icon buttons" >
      <mat-icon color="warn">share</mat-icon>
    </button>
  </div>
  
</mat-toolbar>

<router-outlet></router-outlet> 