
  .right-half {
    
    
    width: 90%;
  }
  .head {
    
    color: #3F51B5;
    font-weight: 600;
    display: flex;  
    font-size: 18pt;
    flex-direction: column;
    justify-content: left;
    
  }
  .mid {
    text-align: right;
    color: #3F51B5;
    
    font-weight: 600;
    display: flex;
    font-size: 12pt;
    
    align-items: flex-end;
    
  }
  .lead {
    text-align: justify;
    color: #3E2723;
    font-weight: 500;
    display: flex;
    font-size: 12pt;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }